body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Eurostile;
  src: url(../public/fonts/Eurostile.ttf);
}

#root {
  /* Font Family */

  font-family: Eurostile;

  /* Colors */

  --heading : #ec7f29;
  --darkGreen:  #196F3D;
  --lightGreen:  #b2fc1d;
  
  color: rgba(128, 128, 128, 0.326);
  --green:  #196f3d4f;





}
